/*h1*/ @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
/*h3*/ @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
    background-color: rgb(245, 206, 121);
  }
h3{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin-bottom: 50px;
  }
h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 44px;
  }
  
  p {
    color: white;
    font-family: verdana;
    font-size: 20px;
  }

  ul , section {
    color: white;
    font-family: verdana;
  }

  /*navegacion*/
  header{
    display: flex;
    min-height: 60px;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width:100vw;
    height:60px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  a {
    text-decoration: none;
  }

  ul , section {
    color: white;
    font-family: verdana;
  }
  .nav .links a{
    display:inline;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
      }
  .nav.logo{
    background-image:image(logo);
    float: left;
  }

  .logo img {
    height: 70px; 
      }

  .nav *{
    color: white;
    line-height: 20px;
    }

    .iconos * {
      color: coral;
      font-family:sans-serif; 
      width: 90px;
      height: 90px;
      font-size: 18px;
    }
/*
    .portada {
      height: 0vh;
      background:url(https://www.shutterstock.com/image-photo/beautiful-young-woman-slicing-red-260nw-1960575124.jpg)
      center center no-repeat;
      background-size: cover;
      }*/

      /*footer*/
  .piedepag {
    width:100vw;
    height:60px;
    background: green;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    align-items: center;
    bottom: 0;
    right: 0;
    z-index: 1;
    flex-wrap: nowrap;
  }
  .piedepag *{
    color: white;
    font-family: verdana; 
    line-height: 20px;
    align-items: center;
  }

  .piedepag .links a {
    display:flex;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-end;
  }

/*pagina recetas*/
.pagrecetas * {
  margin-top: 50px;/*no anda*/
}

/*.receta{
    display:flex;
    justify-content:center ;
  }

b {
  display: flow-root;
  justify-content:center;
}*/

/*CONTACTO*/

.contactanos {
  height: calc(100vh - 60px);
  background-color: rgb(245, 206, 121);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactanos form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactanos form label {
  font-size: 20px;
  margin-bottom: 5px;
}